<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cameron Poe's Personal Site">
    <meta name="author" content="Cameron Poe">
    <title>zay.li | Cameron Poe</title>
    <link href="/style.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/42b0533817.js"></script>
</head>
<body>
    <div class="main">
        <div class="content">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pre">
                        <table>
                        <tr>
                        <td style="text-align: center;"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;</td> <td><a href="mailto:cameron@zay.li" target="_blank">cameron@zay.li</a></td>
                        </tr>
                        <tr>
                        <td style="text-align: center;"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;</td> <td><a href="https://keybase.io/zay" target="_blank">82AD2CBC</a></td>
                        </tr>
                        <tr>
                        <td style="text-align: center;"><i class="fa fa-commenting" aria-hidden="true"></i>&nbsp;</td> <td><a href="xmpp:z@zay.li" target="_blank">z@zay.li</a></td>
                        </tr>
                        <tr>
                        <td style="text-align: center;"><i class="fa fa-lock" aria-hidden="true"></i>&nbsp;</td> <td><a href="/ssh" target="_blank">SSH</a></td>
                        </tr>
                        <tr>
                        <td style="text-align: center;"><i class="fa fa-github-alt" aria-hidden="true"></i>&nbsp;</td> <td><a href="https://github.com/z4y" target="_blank">z4y</a></td>
                        </tr>
                        <tr>
                        <td style="text-align: center;"><i class="fa fa-steam" aria-hidden="true"></i>&nbsp;</td> <td><a href="https://steamcommunity.com/id/zayotic" target="_blank">Zay</a></td>
                        </tr>
                        </table>
                    </div>
                </div>
            </div><center>
<audio controls autoplay loop>
 <source src="/music2.mp3" type="audio/mpeg">
</audio></center>
</body>
</html>
